* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgclr: #023047;
  --txtclr: #ffffff;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgclr);
  color: var(--txtclr);
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* head */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bgclr);
}
nav {
  height: 155px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 2px 6px 5px 2px rgba(1, 1, 1, 0.3);
}
.headSec {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.headImg img {
  height: 150px;
  width: 150px;
  border-radius: 30%;
  transition: 0.2s ease-in-out;
}
.headContent {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}
.headContent h1 {
  font-size: 36px;
  margin-bottom: 5px;
}
.headContent span {
  font-size: 13px;
}
.fa-brands {
  font-size: 20px;
  margin-block: 5px;
  margin-right: 5px;
}
.headSecTab ul li {
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: var(--txtclr);
}

/* main */
.mrgnBtm {
  margin-bottom: 100px;
}

/* workExp section */
.workExpSec h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}
.jobSec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 355px;
}
.jobSecLogo img {
  height: 300px;
}
.jobSecContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* tecnicalSkil section */
.techSkillSec h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 55px;
}
.spanCollection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
}

/* academic qualification */
.academicSec h1 {
  font-size: 45px;
}
.tebContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 35px;
  border: 5px solid skyblue;
}
.box {
  display: flex;
  flex-direction: column;
  border: 1px solid skyblue;
  align-items: center;
}

/* Qualifications */
.extraQSec span {
  font-size: 30px;
}

/* foot */
/* asso */
.asoSec h1 {
  font-size: 45px;
  text-align: end;
}
.asoSec span {
  padding: 2px;
  margin: 2px;
}

/* lang */
.langSec h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.lngContent {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.lngBar {
  height: 5px;
  width: 350px;
  border: 5px solid orange;
  border-radius: 5px;
}
.lng {
  font-size: 20px;
  padding-left: 65px;
  font-weight: 600;
}
#hindi {
  margin-left: 12px;
  width: 470px;
}
#english {
  margin-left: 5px;
  width: 300px;
}

/* prsnl info */
.prsnlInfoSec h1 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: end;
}
.flexy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.namelbl {
  font-weight: 700;
  margin-left: 450px;
}
.end {
  background-color: rgb(45, 128, 223);
  color: black;
  text-align: center;
  height: 50px;
  font-size: medium;
}
.end h3 {
  padding-top: 15px;
}

/* effects */
.headImg img:hover {
  border-radius: 5%;
  transition: 0.2s ease-in-out;
}
.scrlMrgnSec1 {
  scroll-margin: 150px;
}
.scrlMrgnSec2 {
  scroll-margin: 150px;
}
.scrlMrgnSec3 {
  scroll-margin: 500px;
}

/* responsive */
@media only screen and (max-width: 600px) and (min-width: 350px) {
  .headSecTab {
    display: none;
  }
  .headSec {
    gap: 25px;
  }
  .headContent h1 {
    font-size: 20px;
  }
  .headContent {
    gap: 5px;
  }
  .workExpSec h1 {
    font-size: 28px;
    margin-bottom: 10;
  }
  .jobSec {
    height: 230px;
    gap: 5px;
  }
  .jobSecLogo img {
    height: 120px;
  }
  .jobSecContent {
    align-items: flex-end;
    gap: 2px;
  }
  .jobSecContent h2 {
    font-size: 15px;
  }
  .mediaDrug,
  .mediaNorthcity,
  .mediaMicrosys {
    align-items: flex-end;
  }
  .mediaRenaissance,
  .mediaGds,
  .mediaVassio {
    align-items: flex-start;
  }
  .techSkillSec h1 {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .spanCollection {
    align-items: flex-start;
    font-size: 18px;
    line-height: 45px;
  }
  .academicSec h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .tebContainer {
    font-size: 20px;
    text-align: center;
  }
  .asoSec h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .langSec h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .prsnlInfoSec {
    margin-bottom: 30px;
  }
  .prsnlInfoSec h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .flexy {
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 0 4px;
  }
  .namelbl {
    margin: 0;
  }
  .end {
    margin-bottom: 90px;
  }
  .mediaAdrs {
    text-align: end;
    margin-left: 115px;
  }
  .lngBar {
    display: none;
  }
  #hindi {
    width: 357px;
  }
}
